.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #fff8f3;
    display: flex;
    align-items: center;
    padding: 30px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    max-width: 1140px;
    /* border: 1px solid #e0e0e0; */
    margin: 0 auto;
}
nav ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 51px;
}
nav ul li a{
    text-decoration: none;
    color: #474747;
    font-size: 18px;
    font-weight: 600;
}
nav ul li{
    margin: 0 15px;
}

.logo{
    font-size: 30px;
    color: #20100e;
}
.orange{
    color: #FD6E0A;
}
.hire{
    background-color: #FD6E0A;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
}
.hire:hover{
    background-color: #e65c00;
    cursor: pointer;
}