.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #fff8f3;
    /* display: flex; */
    align-items: center;
    padding: 30px;
    background: url('/images/developer.png'),url('/images/header_bg.png');
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    max-width: 1140px;
    /* border: 1px solid #e0e0e0; */
    margin: 0 auto;
}
nav ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 51px;
}
nav ul li a{
    text-decoration: none;
    color: #474747;
    font-size: 18px;
    font-weight: 600;
}
nav ul li{
    margin: 0 15px;
}

.logo{
    font-size: 30px;
    color: #20100e;
}
.orange{
    color: #FD6E0A;
}
.hire{
    background-color: #FD6E0A;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    font-weight: 600;
}
.hire:hover{
    background-color: #ffffff;
    color: #FD6E0A;
    cursor: pointer;
    border: #FD6E0A 1px solid;
}

#banner{
    margin: 40px 38px 0 210px;
    width: 70%;
    max-width: 1140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.banner-content img{
    width: 500px;
    height: auto;
}
#banner .banner-content h2{
    font-size: 40px;
    color: #574846;
}
#banner .banner-content h1{
    font-size: 60px;
    color: #20100e;
}
#banner .banner-content p{
    font-size: 20px;
    color: #474747;
    margin: 20px 0;
}
.btn1{
    background-color: #FD6E0A;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    font-weight: 600;
}
.btn1:hover{
    background-color: #ffffff;
    color: #FD6E0A;
    cursor: pointer;
    border: #FD6E0A 1px solid;
}
.btn2{
    background-color: #ffffff;
    color: #FD6E0A;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    border: #FD6E0A 1px solid;
}
.btn2:hover{
    background-color: #FD6E0A;
    color: white;
    cursor: pointer;
}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}