@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&family=Share+Tech&display=swap');
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    background-color: #fff8f3;
    align-items: center;
    padding: 30px;
    /* background-position: 20px 0 20px 20px, bottom right; */
    background-repeat: no-repeat;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    max-width: 1140px;
    /* border: 1px solid #e0e0e0; */
    margin: 0 auto;
}
nav ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 51px;
}
nav ul li a{
    text-decoration: none;
    color: #474747;
    font-size: 18px;
    font-weight: 600;
}
nav ul li{
    margin: 0 15px;
}

.logo{
    font-size: 30px;
    color: #20100e;
}
.orange{
    color: #FD6E0A;
}
.hire{
    background-color: #FD6E0A;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    font-weight: 600;
}
.hire:hover{
    background-color: #ffffff;
    color: #FD6E0A;
    cursor: pointer;
    border: #FD6E0A 1px solid;
}

#banner{
    /* margin: 40px 38px 0 200px; */
    margin: auto;
    width: 70%;
    max-width: 1140px;
    /* background-color: #FFF8F3; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background: url('/images/developer.png'); */
}

#banner .banner-content h2{
    font-size: 40px;
    color: #574846;
}
#banner .banner-content h1{
    font-size: 60px;
    color: #20100e;
}
#banner .banner-content p{
    font-size: 20px;
    color: #474747;
    margin: 20px 0;
}
.btn1{
    background-color: #FD6E0A;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    font-weight: 600;
}
.btn1:hover{
    background-color: #ffffff;
    color: #FD6E0A;
    cursor: pointer;
    border: #FD6E0A 1px solid;
}
.btn2{
    background-color: #ffffff;
    color: #FD6E0A;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    border: #FD6E0A 1px solid;
}
.btn2:hover{
    background-color: #FD6E0A;
    color: white;
    cursor: pointer;
}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.banner-image img {
    max-width: 585px;
    vertical-align: middle;
    margin-bottom: 0;
}
.about-me{
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    max-width: 1140px;
    background-color: #FFF8F3;
    padding: 80px 20px;
}
.about-me .p1{
    font-size: 20px;
    color: #474747;
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
}
.about-me h3{
    font-size: 36px;
    color: #20100e;
    margin-top: 20px;
}
.details{
    width: 70%;
    max-width: 1140px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.what-i-do{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 70%;
    max-width: 1140px;
    margin: auto;
}
.what-i-do h2{
    font-size: 36px;
    color: #20100e;
    margin-bottom: 30px;
}
.what-i-do p{
    font-size: 18px;
    color: #474747;
    text-align: center;
}
.skill-cards{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    margin:auto;
    margin-bottom: 50px;
    width: 70%;
    max-width: 1140px;
    padding-top: 50px;
}
.card1{
    padding: 20px;
    border-radius: 5px;
    width: 267px;
    height: 330px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 10px 10px rgba(0.1, 0.1, 0.1, 0.1);
}
.card1 h2{
    font-size: 20px;
    color: #20100e;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 20px;
}
.card1 p{
    font-size: 16px;
    color: #474747;
    margin-top: 10px;
}
.summary{
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px; 
    align-items: center;
    justify-content: space-between;
    width: 70%;
    max-width: 1140px;
}
.summary-heading{
    text-align: center;
    font-size: 36px;
    color: #20100e;
    padding: 100px;
}
.card2{
    width: 511px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}
.card2 h2{
    font-size: 30px;
    color: #20100e;
}
.card2 p{
    font-size: 25px;
    color: #474747;
}
.card2 h3{
    font-size: 20px;
    color: #757575;
}
.card2 h4{
    font-size: 16px;
    color: #757575;
}
.cv{
    background-color: #FD6E0A;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    font-weight: 600;
    font-size: 20px;
}
.button{
    width: 70%;
    max-width: 1140px;
    margin: 50px auto;
    text-align: center;
    margin-top: 100px;
}
.button .cv:hover{
    background-color: #ffffff;
    color: #FD6E0A;
    cursor: pointer;
    border: #FD6E0A 1px solid;
}
footer{
    background-color: #FFF8F3;
    color: rgb(0, 0, 0);
    /* text-align: center; */
    padding: 20px;
    margin-top: 100px;
}
.connect-container{
    width: 70%;
    max-width: 1140px;
    margin: 50px auto;
    /* text-align: center; */
    margin-top: 100px;
    display: flex;
    gap: 100px;
    flex-direction: row;
    justify-content: space-between;
}
.connect{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
    gap: 15px;
    width: 55%;
}
.connect h1{
    font-size: 36px;
    color: #20100e;
    padding-bottom: 20px;
}
.connect p{
    font-size: 18px;
    color: #474747;
    margin-bottom: 20px;
}
.icons{
    display: flex;
    flex-direction: row;
    gap: 15px;
    color: #FD6E0A;
    font-size: 20px;
}
.form h1{
    font-size: 36px;
    color: #20100e;
    padding-bottom: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    width: 300px;
    outline: none;
}
.form button{
    background-color: #FD6E0A;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    font-weight: 600;
    width: 300px;
    margin-top: 10px;
}
.form button:hover{
    background-color: #ffffff;
    color: #FD6E0A;
    cursor: pointer;
    border: #FD6E0A 1px solid;
}