.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #fff8f3;
    /* display: flex; */
    align-items: center;
    padding: 30px;
    background: url('/images/developer.png'),url('/images/header_bg.png');
    background-position: 33px 38px, bottom right;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    max-width: 1140px;
    /* border: 1px solid #e0e0e0; */
    margin: 0 auto;
}
nav ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 51px;
}
nav ul li a{
    text-decoration: none;
    color: #474747;
    font-size: 18px;
    font-weight: 600;
}
nav ul li{
    margin: 0 15px;
}

.logo{
    font-size: 30px;
    color: #20100e;
}
.orange{
    color: #FD6E0A;
}
.hire{
    background-color: #FD6E0A;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    font-weight: 600;
}
.hire:hover{
    background-color: #ffffff;
    color: #FD6E0A;
    cursor: pointer;
    border: #FD6E0A 1px solid;
}

#banner{
    margin: 40px 38px 0 200px;
    width: 70%;
    max-width: 1140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content h2{
    font-size: 40px;
    color: #574846;
}
#banner .banner-content h1{
    font-size: 60px;
    color: #20100e;
}
#banner .banner-content p{
    font-size: 20px;
    color: #474747;
    margin: 20px 0;
}
.btn1{
    background-color: #FD6E0A;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    font-weight: 600;
}
.btn1:hover{
    background-color: #ffffff;
    color: #FD6E0A;
    cursor: pointer;
    border: #FD6E0A 1px solid;
}
.btn2{
    background-color: #ffffff;
    color: #FD6E0A;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    border: #FD6E0A 1px solid;
}
.btn2:hover{
    background-color: #FD6E0A;
    color: white;
    cursor: pointer;
}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.banner-image img {
    max-width: 585px;
    vertical-align: middle;
    margin-bottom: 0;
}
.about-me{
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    max-width: 1140px;
    background-color: #FFF8F3;
    padding: 80px 20px;
}
.about-me .p1{
    font-size: 20px;
    color: #474747;
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
}
.about-me h3{
    font-size: 36px;
    color: #20100e;
    margin-top: 20px;
}
.details{
    width: 70%;
    max-width: 1140px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.what-i-do{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 70%;
    max-width: 1140px;
    margin: auto;
}
.what-i-do h2{
    font-size: 36px;
    color: #20100e;
    margin-bottom: 30px;
}
.what-i-do p{
    font-size: 18px;
    color: #474747;
    text-align: center;
}
.skill-cards{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    margin:auto;
    margin-bottom: 50px;
    width: 70%;
    max-width: 1140px;
    padding-top: 50px;
}
.card1{
    padding: 20px;
    border-radius: 5px;
    width: 267px;
    height: 330px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 10px 10px rgba(0.1, 0.1, 0.1, 0.1);
}
.card1 h2{
    font-size: 20px;
    color: #20100e;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 20px;
}
.card1 p{
    font-size: 16px;
    color: #474747;
    margin-top: 10px;
}